{ "db": { "file": "db/transactions.db"},
  "bitcoind": {
    "host": "localhost",
    "port": 8332,
    "user": "btcuser",
    "pass": "btcpassword"
  },
  "sync_rate":120,
  "api": {
    "port": 8080
  },
  "tenant": {
    "name":"cointhink"
  }
}
